<div class="form-group">
  <label for="field1" class="col-sm-3 mb-2"></label>
  <div class="form-group col-md-3">
      <select class="form-control" [(ngModel)]="params.tp" (ngModelChange)="getDataset()" name="select-time">
          <option [value]="intervalOption.id" *ngFor="let intervalOption of intervalOptions">{{intervalOption.displayedText}}</option>
      </select>
  </div>
</div>
<div *ngIf="weatherTable && weatherTable.dataset">
  <angular-slickgrid gridId="grid1"
            [columnDefinitions]="weatherTable.columns"
            [gridOptions]="weatherTable.gridOptions"
            [dataset]="weatherTable.dataset">
  </angular-slickgrid>
</div>